<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultTemplate}">
<head>
    <title>RPG Character Tracker | Characters</title>
</head>

<body>

<section layout:fragment="content" class="container mt-5 text-center">

	<div class="d-flex justify-content-between align-items-center mb-3">
	    <h1 class="mb-0">Characters</h1>
	</div>
	
	<div class="row g-4">

	<div class="col-lg-3" th:each="character : ${characters}">

	<div class="card card-modern">

	<img th:src="${character.imageUrl}"
	     class="card-img-top"
	     style="height:220px; object-fit:cover;">

	<div class="card-body">

	<h5 class="card-title"
	    th:text="${character.characterName}">
	</h5>

	<p class="text-muted mb-2">
	<span th:text="${character.race.raceName}"></span>
	|
	<span th:text="${character.characterClass.className}"></span>
	</p>

	<div class="d-flex justify-content-between">

	<a class="btn btn-sm btn-primary"
	   th:href="@{/characters/edit/{id}(id=${character.characterId})}">Edit</a>

	<a class="btn btn-sm btn-danger"
	   th:href="@{/characters/delete/{id}(id=${character.characterId})}">Delete	</a>

	</div>

	</div>
	</div>

	</div>
	<div class="mb-4 text-end">

	<a th:href="@{/characters/create}"
	   class="add-character btn btn-outline-success rounded-pill">
	   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
	     <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
	     <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
	   </svg> Create a Character
	</a>

	</div>
	</div>	
</section>
</body>
</html>